@tailwind base;
@tailwind components;
@tailwind utilities;

table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border:1pxsolid #dddddd;
    text-align: left;
    padding: 12px 30px ;
}
tr:nth-child(even){
    background-color: #dddddd;
}